* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.product-list:hover {
  color: aqua !important;
  height: 200px;
}

.trending img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
