* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.product-list:hover {
  color: aqua !important;
  height: 200px;
}

.trending img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .search {
    width: 270px !important;
    font-size: 14px !important;
  }

  .addToWhishBtn,
  .addToCartBtn {
    font-size: 14px;
  }
}
